<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registrarse</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-input  type="text"label="Nombre" labelPlacement="floating" placeholder="Enter text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input  type="email"label="Email" labelPlacement="floating" placeholder="Enter text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input  type="password"label="Contraseña" labelPlacement="floating" placeholder="Enter text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input  type="password"label="Confirma tu contraseña" labelPlacement="floating" placeholder="Enter text"></ion-input>
    </ion-item>
    
  </ion-card>
  <ion-button size="full"color="light" shape="round">Regsitrarse</ion-button>
</ion-content>
